<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getLookupSourceItems>
        <processor type="Sitecorize.Foundation.DynamicSources.Pipelines.GetLookupSourceItems.ProcessVirtualSource, Sitecorize.Foundation.DynamicSources" patch:before="processor[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']"/>
      </getLookupSourceItems>
    </pipelines>
  </sitecore>
</configuration>